[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-repeat"]
	path = .vim/pack/plugins/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/pack/plugins/start/vim-magnum"]
	path = .vim/pack/plugins/start/vim-magnum
	url = git@github.com:glts/vim-magnum.git
[submodule ".vim/pack/plugins/start/vim-radical"]
	path = .vim/pack/plugins/start/vim-radical
	url = git@github.com:glts/vim-radical.git
